.navbar-container {
  width: 100%;
  background: #333;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.nav-list {
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: space-around;
  width: 80%;
}

.nav-item {
  margin: 0 20px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s, border-bottom 0.3s;
  padding-bottom: 2px;
  border-bottom: 3px solid transparent;
}

.nav-link:hover, .nav-link.active {
  color: #00bfb2;
  border-bottom: 3px solid #00bfb2;
}
