.navbar-container {
  width: 100%;
  background: #333;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.navbar {
  display: flex;
  justify-content: center; /* Ensure the navbar content is centered */
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.nav-list {
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: space-around; /* Adjusted for better spacing */
  width: 80%; /* You can adjust this width for more or less space overall */
}

.nav-item {
  margin: 0 20px; /* Increased the side margins for more space between items */
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: color 0.3s;
  padding-bottom: 2px; /* Added padding to offset the border for visual balance */
  border-bottom: 3px solid transparent; /* Transparent border for a consistent link height */
}

.nav-link.active {
  color: #00bfb2;
  border-bottom: 3px solid #00bfb2; /* Green bottom border for active link */
}

.nav-item:hover .nav-link {
  color: #00bfb2;
}
