/* settings.css */

/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(0.1turn, #3f87a6, #ebf8e1);
  }
  
  /* Header
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: white;
    padding: 10px;
  }
  
  .header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .search-bar {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  } */
  
  /* Settings Page Layout */
  .configuration-settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    height: 100vh;
  }
  
  /* Profile Description */
  .configuration-profile-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .configuration-profile-image {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .configuration-description {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .configuration-settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; /* Ensures vertical centering */
  }
  
  /* Logout button styling */
  .configuration-logout-button {
    background-color: red;
    color: white;
    border-color: white;
    border-radius: 5em;
    border-width: 2px;
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;

    margin-bottom: 20px; /* Space below logout button */
  }
  
  .configuration-logout-button:hover {
    background-color: darkred;
  }

  /* Buttons container */
  .configuration-settings-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 50%;
    max-width: 500px;
    margin-top: 20px;
  }
  
  /* Individual buttons */
  .configuration-settings-button {
    background: #5c5252;
    color: white;
    border: none;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-overflow: clip;
    width: 100%; /* Ensures buttons take full width in grid */
    height: 75px;
  }
  
  .configuration-settings-button:hover {
    background: #4b4141;
  }
  