.CalendarDay-outer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background-color: #d7b345;
    border-radius: 20px;
    border: green 2px solid;
    margin: 10px;
 
}