.Agenda-outer-container{
    background-color: aquamarine;
    background-color: aquamarine;
    width: 100%;       /* Full width of the parent container */
    height: 90vh;     /* Full height of the viewport */

}

.Agenda-calendar-day-container{
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    width: 100%;
    justify-content: center;
    
}