.buddies-container {
    font-family:'Franklin Gothic Medium', sans-serif;
    min-height: 100vh;
    padding: 20px;
    background: white;
}

/* Navbar */
.navbar {
display: flex;
justify-content: space-between;
align-items: center;
background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
padding: 20px 40px;
color: white;
box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.buddies-container .logo-container {
    display: flex;
    align-items:center;
    gap: 10px;

}

.buddies-container .logo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}

.buddies-container .nav-links {
    display: flex;
    gap: 20px;

}

.buddies-container .nav-item {
    color: darkgray;
    text-decoration:none;
    font-size: 20px;
    transition: color 0.3s;
    gap: 50px;
}
.buddies-container .nav-item:hover,
.buddies-container .nav-item.active {
    color: white;
}

/*Main Page Layout */

.buddies-container .buddies-main {
    display:flex;
    padding: 30px;
    gap: 20px;
}